p {
  background-color: blue;
  color: white;
}
h1 {
  background-color: darkblue;
  color: #f50f0f8e;
}
a {
  background-color: darkblue;
  color: white;
}

#parrafo2 {
  background-color: green;
}

#lista {
  background-color: aqua;
}
